---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/rowan.png" />
		<link rel="icon" href="/rowan.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ROWANNN</title>
	</head>
	<body>
		<h1 id="rowaned" class="center">You just got <span class="rainbow">ROWANEDD!!!</span></h1>
		<p class="center">
			haha loser
		</p>
		<div style="text-align: center;">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<button id="more">More</button>
			</a>
		</div>
	</body>
</html>

<style>
	@keyframes rainbow {
		0% { color: red; }
		25% { color: yellow; }
		50% { color: green; }
		75% { color: blue; }
		100% { color: purple; }
	}

	#rowaned {
		margin-top: 80px;
	}

	#more {
		background-color: #ffffff;
		border: 2px solid gray;
		border-radius: 12px;
		width: 100px;
		height: 50px;
		transition: all ease-in-out 0.1s;
	}

	#more:hover {
		background-color: gray;
		cursor: pointer;
	}

	.center {
		text-align: center;
	}

	.rainbow {
		animation: 2s infinite rainbow;
	}
</style>
