---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ROWANNN</title>
	</head>
	<body>
		<h1 id="rowaned" class="center">You just got ROWANEDD!!!</h1>
		<p class="center">
			haha loser
		</p>
	</body>
</html>

<style>
	#rowaned {
		margin-top: 80px;
	}

	.center {
		text-align: center;
	}
</style>
